:80 {

    @central8885 path /central/mcp* /central/i3x* /central/data*
    handle @central8885 {
        uri strip_prefix /central
        reverse_proxy highbyteCentralNode:8885 {
            header_up X-Forwarded-Prefix /central/
        }
    }

    redir /central/config /central/config/ 308

    handle_path /central/config/* {
        reverse_proxy highbyteCentralNode:45245 {
            header_up X-Forwarded-Prefix /central/config/
        }
    }

    @remote18885 path /remote1/mcp* /remote1/i3x* /remote1/data*
    handle @remote18885 {
        uri strip_prefix /remote1
        reverse_proxy highbyteRemote1Node:8885 {
            header_up X-Forwarded-Prefix /remote1/
        }
    }
    redir /remote1/config /remote1/config/ 308
    handle_path /remote1/config/* {
        reverse_proxy highbyteRemote1Node:45245 {
            header_up X-Forwarded-Prefix /remote1/config/
        }
    }

    @staging8885 path /staging/mcp* /staging/i3x* /staging/data*
    handle @staging8885 {
        uri strip_prefix /staging
        reverse_proxy highbyteStagingNode:8885 {
            header_up X-Forwarded-Prefix /staging
        }
    }

    redir /staging/config /staging/config/ 308
    handle_path /staging/config/* {
        reverse_proxy highbyteStagingNode:45245 {
            header_up X-Forwarded-Prefix /staging/config
        }
    }

    redir /hbmqtt /hbmqtt/ 308
    handle_path /hbmqtt/* {
        reverse_proxy highbyteMqtt:1886 {
            transport http {
                read_timeout 0
                write_timeout 0
            }
        }
    }

    redir /lgtm /lgtm/ 308
    handle /lgtm/* {
        reverse_proxy lgtm:3000 {
            header_up X-Forwarded-Port 49995
            header_up X-Forwarded-Proto http
        }
    }
}